html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
}

h1 {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 2rem;
  padding: 0 3rem;
}

.topbar {
  background-image: url("van.jpg");
  background-position: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  background-repeat: no-repeat;
  color: white;
  border-bottom: 30px solid rgb(58, 81, 194);
  font-family: "Raleway", sans-serif;
}

#map {
  height: 75vh;
  width: 80vh;
  padding-top: 30px;
  padding-bottom: 30px;
}

.gm-style-iw-d {
  color: #000000;
}

#parklist {
  align-items: right;
  outline: black;
}

.parktitle {
  font-size: 80px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.map-list {
  border: 30px;
  border-color: rgba(5, 13, 138, 0.808);
}

.map-border {
  border-top: 30px solid rgb(58, 81, 194);
  border-bottom: 30px solid rgb(58, 81, 194);
}

.default-message {
  color: rgb(0, 0, 0);
  height: 550px;
  font-size: 85px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  background-color: rgb(255, 255, 255);
}

.listClass {
  color: rgb(0, 0, 0);
  height: 100px;
  font-size: 20px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.middle {
  align-items: center;
  justify-items: center;
  text-align: center;
}

.but {
  width: 100px;
  font-weight: bold;
}

.bigger {
  font-size: 16px;
}

.bottom {
  height: 50px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding-top: 14px;
}
